<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app-1">
    <my-component></my-component>
    <my-component></my-component>
    <my-component></my-component>
    <my-component></my-component>
</div>

<div id="app-2">
    <my-component2></my-component2>
    <input v-model="parentMsg">
    <child :message="parentMsg"></child>
    <child message2="1"></child>
</div>

<div id="app-3">
    <p>{{ total }}</p>
    <button-counter v-on:hello="incrementTotal"></button-counter>
    <button-counter v-on:hello="incrementTotal"></button-counter>
    <button-counter v-on:click.native="hello"></button-counter>
</div>

<div id="app-4">
    <p>{{ price }}</p>
    <custom-input v-model="price"></custom-input>
</div>

<div id="app-5">
    <parent-component></parent-component>
</div>

<div id="app-6">
    <hello></hello>
</div>

<div id="app-7">

    <my-awesome-list v-bind:items="items">
        <template slot="item" scope="props">
            <li class="my-fancy-item">{{ props.text }}</li>
        </template>
    </my-awesome-list>
</div>

<div id="app-8">
    <child>
        <template scope="props">
            <p>this is the parent text</p>
            <p>{{ props.text }}</p>
        </template>
    </child>
</div>

<script>

    Vue.component('child', {
        template: '<div class="child"><slot text="this is the slot text"></slot></div>'
    })

    var app8 = new Vue({
        el: '#app-8'
    })

    Vue.component('my-awesome-list', {
        props: ['items'],
        template: '<ul><slot name="item" v-for="item in items" v-bind:text="item"></slot></ul>'
    })

    var app7 = new Vue({
        el: '#app-7',
        data: {
            items: ['asdf', 'asdfasdfasdfasdfasfd', 'hello']
        }
    })

    Vue.component('hello', {
        template: '<app><h1 slot="header">This is the header</h1><p>this is the main content</p><p slot="footer">this is the footer</p></app>'
    })

    Vue.component('app', {
        template: '<div class="container"><header><slot name="header"></slot></header><main><slot></slot></main><footer><slot name="footer"></slot></footer></div>'
    })

    var app6 = new Vue({
        el: '#app-6'
    })

    Vue.component('child-component', {
        template: '<div><h2>这是子组件的标题</h2><slot>只有在没有要分发的内容时才会显示</slot></div>'
    })

    Vue.component('parent-component', {
        template: '<div><h1>我是父组件的标题</h1><child-component><p>这是一些内容</p></child-component></div>'
    })

    var app5 = new Vue({
        el: '#app-5'
    })

    Vue.component('custom-input', {
        template: '<span><input ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)"></span>',
        props: ['value'],
        methods: {
            updateValue: function (value) {
                // 对输入的value进行格式化为想要的格式
                var formattedValue = value.trim().slice(0, value.indexOf('.') + 3)
                // 如果数值不统一，手动覆盖以保持一致
                if (formattedValue !== value) {
                    this.$refs.input.value = formattedValue
                }
                // 通过input事件触发数值
                this.$emit('input', Number(formattedValue))
            }
        }
    })

    var app4 = new Vue({
        el: '#app-4',
        data: {
            price: 0
        }
    })


    var data = {counter: 0}
    Vue.component('my-component', {
        template: '<button @click="counter += 1">a custom component - {{ counter }}</button>',
        data: function () {
            return {
                counter: 0
            }
        }
    })

    Vue.component('child', {
        props: ['message', 'message2'],
        template: '<span>{{ typeof message2 }}</span>',
        data: function () {
            bus.$on('input', function (value) {
                console.log(value)
            })
            return {
                gg: 'ggsimida'
            }
        }
    })

    var bus = new Vue()

    Vue.component('button-counter', {
        template: '<button v-on:click="increment">{{ counter }}</button>',
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            increment: function () {
                this.counter += 1
                this.$emit('hello')
                bus.$emit('input', 99)
            }
        }
    })

    var app3 = new Vue({
        el: '#app-3',
        data: {
            total: 0
        },
        methods: {
            incrementTotal: function () {
                this.total += 1
            },
            hello: function () {
                console.log('hello!')
            }
        }
    })

    var app1 = new Vue({
        el: '#app-1',
        data: {}
    })

    var app2 = new Vue({
        el: '#app-2',
        data: {
            parentMsg: 'this is a parent message'
        },
        components: {
            'my-component2': {
                template: '<div>my component 2 </div>',

            }
        }
    })

</script>
</body>
</html>